<!DOCTYPE html>
<html>
<head>
  <title>Blog links</title>
  <%= stylesheet_link_tag    "blog_links/application", media: "all" %>
  <%= javascript_include_tag "blog_links/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
